@charset "EUC-KR";
table{
		margin:0 auto;
		width:900px;
		text-align:center;
		
}
td{
	height:40px;
}
#output{   /* <=======================년월일 폰트 및 크기 수정 */
		font-size:40px;
		font-family:"배달의민족 도현";
		vertical-align:center;
		color:#f7323f;
}
		
#clock {            /* <=======================시간 폰트 및 크기 수정 */
	font-size:40px;
	font-family:"배달의민족 도현";
	vertical-align:center;
	color:#f7323f;
}
#menu{   font-family:배달의민족 도현; font-size: 20px;  }
#name{width:80%;height:100%;} 
#id{width:80%;height:100%;}
#bednum{width:80%;height:100%;}
